html {
  --main-bg-color: #e7eaee;
  --border-color: #6f6f71;
  --button-color: #ffd9ee;
  --blue-color: #02c7fa;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Fredoka", sans-serif;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header button {
  border: none;
  font-weight: 500;
  cursor: pointer;
}

header p {
  font-size: 0.8rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container h1 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 5px;
}

.logo-icon {
  width: 40px;
}
